<table>
    <tr>
        <td width="100%">
            {position:super-header}
        </td>        
    </tr>
    <tr>    
        <td width="100%">
            {position:header}
        </td>        
    </tr>
</table>
<table>
    <tr>
        <td>
            {position:top}
        </td>
    </tr>
    <tr>
        <td width="100%">
            {position:left-top}
            {block:LANG_PAGE_BODY}
            {position:left-bottom}
        </td>
    </tr>
</table>
<table>
    <tr>
        <td width="65%" class="filled">
            {cell:LANG_PAGE_FOOTER}
        </td>
        <td>
            {position:footer}
        </td>
    </tr>
</table>

