html {
    font-size: 10px;
    line-height: 10px;
}

@media screen and (max-width: 1024px) {
    
    html {
        font-size: 9px;
        line-height: 9px;
    }        
}

@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 780px) {
 
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 568px) {
      
}

@media screen and (max-width: 480px) {
    
    html {
        font-size: 8px;
        line-height: 8px;
    }
} 

@media screen and (max-width: 384px){
     
}

@media screen and (max-width: 340px){  
     
}

@media screen and (max-width: 240px){
    
}